<!-- note_card.html -->
<div class="row-md-2">
    <div class="card  my-2">
        <div class="card-header">
            {% if note.private %}
            <span class="badge rounded-pill bg-danger">Private</span>
            {% endif %}
            {% if note.user_id == current_user.id %}
            <span class="badge rounded-pill bg-info">Owned by Me</span>
            {% elif note.is_anonymous() %}
            <span class="badge rounded-pill bg-success">Public</span>
            {% else %}
            <span class="badge rounded-pill bg-secondary">{{ note.get_owner().username }}</span>
            {% endif %}
        </div>
        <div class="card-body">
            <h5 class="card-title">{{ note.title }}</h5>
            <p class="card-text">{{ note.content | markdown | striptags | truncate(100, True) }}</p>
            <button type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal"
                data-bs-target="#noteModal{{ note.id }}">Read</button>
        </div>
    </div>
</div>


<!-- Note Modal -->
<div class="modal fade" id="noteModal{{ note.id }}" tabindex="-1" aria-labelledby="noteModalLabel{{ note.id }}"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="noteModalLabel{{ note.id }}">{{ note.title }}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                {{ note.content | markdown | safe }}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <a href="{{ url_for('routes.edit_note', note_id=note.id, user=user) }}" class="btn btn-warning">Edit</a>
                <a href="{{ url_for('routes.delete_note', note_id=note.id, user=user ) }}"
                    class="btn btn-danger">Delete</a>
            </div>
        </div>
    </div>
</div>
