<!-- register.html -->
{% extends "base.html" %}
{% block content %}
<h2>Register</h2>
<form method="POST" action="{{ url_for('routes.register') }}">
    {{ form.hidden_tag() }}
    <div class="mb-3">
        {{ form.username.label }} {{ form.username(class="form-control") }}
    </div>
    <div class="mb-3">
        {{ form.email.label }} {{ form.email(class="form-control") }}
    </div>
    <div class="mb-3">
        {{ form.password.label }} {{ form.password(class="form-control", id="password") }}
        <button type="button" class="btn btn-sm btn-outline-secondary" id="toggle-password"
            onclick="togglePasswordVisibility('password', 'toggle-password')">View Password</button>
    </div>
    <div class="mb-3">
        {{ form.password2.label }} {{ form.password2(class="form-control", id="password2") }}
        <button type="button" class="btn btn-sm btn-outline-secondary" id="toggle-password2"
            onclick="togglePasswordVisibility('password2', 'toggle-password2')">View Password</button>
    </div>
    {{ form.submit(class="btn btn-primary") }}
</form>
{% endblock %}
{% block extra_js %}
<script>
    function togglePasswordVisibility(passwordFieldId, toggleButtonId) {
        var passwordField = document.getElementById(passwordFieldId);
        var toggleButton = document.getElementById(toggleButtonId);

        if (passwordField.type === "password") {
            passwordField.type = "text";
            toggleButton.innerText = "Hide Password";
        } else {
            passwordField.type = "password";
            toggleButton.innerText = "View Password";
        }
    }
</script>

{% endblock %}
