<!DOCTYPE html>
<html lang="en">
{% include 'head.html' %}

<body class="dark:bg-black bg-white text-gray-900 dark:text-gray-100">
    <div class="flex flex-row">
        <!-- Left Sidebar (Navbar) -->
        <nav class="fixed top-0 left-0 bg-white dark:bg-black p-2 h-full sm:w-1/12 md:w-1/12 lg:w-1/12 xl:w-3/12 border border-r-2 border-gray-800  overflow-auto box-border ps-3 pt-2"
            style="max-width: 256px;">
            <!-- Your navbar code here -->
            <div class="container flex flex-col leading-5">
                <div
                    class="block flex-shrink-0 w-full md:w-1/2 justify-start text-black dark:text-white mt-4 mb-6 items-start relative">

                    <a class="block items-center text-black dark:text-white no-underline hover:text-gray-600 hover:no-underline md:hidden sm:hidden xl:block lg:block mt-2 px-3"
                        href="{{ url_for('routes.index_page') }}">
                        <span class="text-4xl font-billabong font-light">Intragram</span>
                    </a>

                    <a class="items-center text-gray-600 dark:text-white no-underline hover:text-white hover:no-underline xl:hidden lg:hidden md:block sm:block hidden mt-2 px-3"
                        href="{{ url_for('routes.index_page') }}">
                        <span class="hidden dark:block "><img
                                src="{{ url_for('static', filename='images/intragram_logo_darkmode.png') }}" width="24"
                                height="24"> </span>
                        <span class="block dark:hidden"><img
                                src="{{ url_for('static', filename='images/intragram_logo_lightmode.png') }}" width="24"
                                height="24"> </span>
                    </a>
                </div>
                <div class="block">
                    <div class="block relative">
                        <div class="block relative">
                            <a href="" class="inline p-0 m-0"></a>
                            <div
                                class="my-1 p-3 w-full flex-row items-center inline-flex rounded-lg hover:bg-gray-200 dark:hover:bg-gray-900">
                                <div class="block">
                                    <div class="overflow-y-visible content-stretch rounded-none ">
                                        <i
                                            class="fas fa-home fa-lg text-gray-600 dark:text-white dark:hover:text-gray-600"></i>
                                    </div>
                                </div>
                                <div class="flex h-6 w-fit items-center overflow-x-hidden ps-4">
                                    <div class="w-full">
                                        <div class="w-full">
                                            <span
                                                class="overflow-y-visible text-base m-0 break-words overflow-x-visible whitespace-pre-line max-w-full"></span>
                                            <span
                                                class="whitespace-nowrap text-ellipsis overflow-hidden block max-w-full">Home</span>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="block flex-grow w-full pt-2 mt-6 content-start justify-between md:w-1/2 md:justify-start">
                    <ul class="flex flex-col justify-between md:flex-none items-center">
                        <!-- Check if user is authenticated -->
                        {% if current_user.is_authenticated %}

                        <!-- fullscreen -->
                        <li class="flex flex-row w-full justify-between my-2 md:hidden sm:hidden xl:block lg:hidden ">
                            <a class="text-grey-600 dark:text-white no-underline hover:text-gray-300 hover:text-underline py-2 px-4 text-1xl font-semibold"
                                href="#"><span class="mr-2"><i class="fas fa-home mr-1 nav-icon ms-2"
                                        style="width:24px; height:21px;"></i></span>Home</a>
                        </li>
                        <!-- icon -->
                        <li class="hidden lg:block xl:hidden  md:block sm:block flex-row w-full justify-between my-2">
                            <a class="text-gray-600 dark:text-white no-underline hover:text-gray-300 hover:text-underline py-2 px-4 text-1xl font-semibold"
                                href="#"><i class="fas fa-home mr-1 nav-icon ms-2"
                                    style="width:24px; height:21px;"></i></a>
                        </li>

                        <!-- fullscreen -->
                        <li class="flex flex-row w-full justify-between my-2 md:hidden sm:hidden xl:block lg:hidden">
                            <a class="text-gray-600 dark:text-white no-underline hover:text-gray-300 hover:text-underline py-3 px-4 text-1xl font-semibold"
                                href="#"><span class="mr-2"><i class="far fa-bookmark mr-1 nav-icon ms-2"
                                        style="width:24px; height:21px;"></i></span>Saved</a>
                        </li>

                        <!-- icon -->
                        <li class="hidden lg:block xl:hidden  md:block sm:block w-full justify-between my-2">
                            <a class="text-gray-600 dark:text-white no-underline hover:text-gray-300 hover:text-underline py-3 px-4 text-1xl font-semibold"
                                href="#"><i class="far fa-bookmark mr-1 nav-icon ms-2"
                                    style="width:24px; height:21px;"></i></a>
                        </li>

                        <!-- fullscreen -->
                        <li class="flex flex-row w-full justify-start my-2 md:hidden sm:hidden xl:block lg:hidden">
                            <a class="text-gray-600 dark:text-white no-underline hover:text-gray-200 hover:text-underline py-2 px-4 text-1xl font-semibold"
                                href="{{url_for('routes.logout')}}">
                                <span class="mr-2"><i class="fa-solid fa-right-from-bracket nav-icon ms-2"
                                        style="width:24px; height:21px;"></i></span>Logout</a>
                        </li>

                        <!-- icon -->
                        <li class="hidden lg:block xl:hidden  md:block sm:block w-full justify-start my-2">
                            <a class="text-gray-600 dark:text-white no-underline hover:text-gray-200 hover:text-underline py-2 px-4 text-1xl font-semibold"
                                href="{{url_for('routes.logout')}}">
                                <i class="fa-solid fa-right-from-bracket nav-icon ms-2"
                                    style="width:24px; height:21px;"></i></a>
                        </li>

                        <!-- fullscreen -->
                        <li class="flex flex-row w-full justify-start my-2 md:hidden sm:hidden xl:block lg:hidden">
                            <a class="text-gray-600 dark:text-white no-underline hover:text-gray-200 hover:text-underline py-2 px-4 text-1xl font-semibold"
                                class="nav-link" href="#" id="upload">
                                <span class="mr-2"><i class="fa-solid fa-arrow-up-from-bracket nav-icon ms-2"
                                        style="width:24px; height:21px;"></i></span>Upload</a>
                        </li>

                        <!-- icon -->
                        <li class="hidden lg:block xl:hidden  md:block sm:block w-full justify-start my-2">
                            <a class="text-gray-600 dark:text-white no-underline hover:text-gray-200 hover:text-underline py-2 px-4 text-1xl font-semibold"
                                class="nav-link" href="#" id="uploadIcon">
                                <i class="fa-solid fa-arrow-up-from-bracket nav-icon ms-2"
                                    style="width:24px; height:21px;"></i></a>
                        </li>

                        {% else %}

                        <!-- fullscreen -->
                        <li class="flex flex-row w-full justify-start my-2 md:hidden sm:hidden xl:block lg:hidden">
                            <a class="text-grey-600 dark:text-white no-underline hover:text-gray-200 hover:text-underline py-2 px-4 text-1xl font-semibold"
                                class="nav-link" href="{{ url_for('routes.login') }}"><span><i
                                        class="fa-solid fa-arrow-right-to-bracket"></i></span>Sign In</a>
                        </li>

                        <!-- icon -->
                        <li class="hidden lg:block xl:hidden  md:block sm:block flex-row w-full justify-start my-2">
                            <a class="text-grey-600 dark:text-white no-underline hover:text-gray-200 hover:text-underline py-2 px-4 text-1xl font-semibold"
                                class="nav-link" href="{{ url_for('routes.login') }}">Sign In</a>
                        </li>

                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>
        <div
            class="top-0 left-0 bg-white dark:bg-black p-2 h-full sm:w-1/12 md:w-1/12 lg:w-1/12  xl:w-3/12 overflow-auto">
        </div>
        <div class="flex-col flex w-8/12 md:w-11/12 lg:w-8/12 xl:w-8/12 overflow-auto">
            <!-- Main Content -->
            {% block content %}{% endblock %}
        </div>
    </div>
    <!-- full screen modal -->
    <div class="hidden w-full h-full fixed z-50 top-0 left-0 overflow-hidden bg-black bg-opacity-60"
        id="full_screen_modal">
        <div class="w-full h-full flex flex-col justify-center items-center">
            <div class="bg-white dark:bg-black rounded-lg shadow-lg max-w-fit">
                <div class="flex justify-between items-center border-b-2 border-gray-300 dark:border-gray-600 p-2">
                    <button class="text-2xl font-semibold" id="close_full_screen_modal">&times;</button>
                </div>
                <div class="p-2" id="modalContent">
                </div>
            </div>
        </div>
        <script>
            var modal = document.getElementById("full_screen_modal");

            window.addEventListener("scroll", function (event) {
                if (!modal.classList.contains("hidden")) {
                    window.scrollTo(0, 0);
                }
            });

            // Get the button that opens the modal
            var uploadBtn = document.getElementById("upload");
            var uploadIcon = document.getElementById("uploadIcon");

            // Get the <span> element that closes the modal
            var span = document.getElementById("close_full_screen_modal");

            var modalContent = document.getElementById("modalContent");

            // When the user clicks the button, open the modal
            uploadBtn.onclick = function () {
                modalContent.innerHTML = `{% include 'upload_meme.html' %}`;
                modal.classList.remove("hidden");
                while (modal.classList.contains("hidden")) {
                    window.scrollTo(0, 0);
                }
            };

            uploadIcon.onclick = function () {
                modalContent.innerHTML = `{% include 'upload_meme.html' %}`;
                modal.classList.remove("hidden");
                while (modal.classList.contains("hidden")) {
                    window.scrollTo(0, 0);
                }
            };

            // When the user clicks on <span> (x), close the modal
            span.onclick = function () {
                modal.classList.add("hidden");
                modalContent.innerHTML = "";
            };

        </script>
</body>

</html>
