{% extends "base.html" %}

{% block content %}

{{ form.username(class="text-xs w-full mb-2 rounded border bg-gray-100 border-gray-300 px-2 py-2 focus:outline-none
focus:border-gray-400 active:outline-none", placeholder="Phone number, username, or email") }}
{{ form.password(class="text-xs w-full mb-4 rounded border bg-gray-100 border-gray-300 px-2 py-2 focus:outline-none
focus:border-gray-400 active:outline-none", placeholder="Password") }}
{{ form.remember_me(class="mb-4") }} Remember me
{{ form.submit(class="text-sm text-center bg-blue-300 text-white py-1 rounded font-medium", value="Log In") }}

{% endblock %}
