<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link class="" href="{{url_for('static', filename='css/output.css')}}" rel="stylesheet">
    <link class="" href="../static/css/output.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/03efbea893.js" crossorigin="anonymous"></script>
    <!-- Site Icon -->
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/intragram_logo_darkmode.png') }}"
        class="dark:hidden">
</head>

<body class="dark:bg-black bg-white text-gray-900 dark:text-gray-100">
    <nav class="bg-white dark:bg-gray-600 p-2 mt-0 w-full">
        <!-- This is the main heading -->
        <div class="container mx-auto flex flex-wrap items-center">
            <div class="flex w-full md:w-1/2 justify-center md:justify-start text-black dark:text-white">
                <a class="flex items-center text-grey-600 dark:text-white no-underline hover:text-white hover:no-underline"
                    href="{{ url_for('routes.index_page') }}">
                    <img id="navbar-logo-light" class="dark:hidden"
                        src="{{ url_for('static', filename='images/intragram_logo_lightmode.png') }}" height="38"
                        width="38" alt="Site Icon" class="mr-2 mb-1">
                    <img id="navbar-logo-dark" class="hidden dark:block"
                        src="{{ url_for('static', filename='images/intragram_logo_darkmode.png') }}" height="38"
                        width="38" alt="Site Icon" class="mr-2 mb-1">
                    <span class="text-4xl font-billabong">&nbsp;&nbsp;Intragram</span>
                </a>
            </div>
            <div class="flex w-full pt-2 content-center justify-between md:w-1/2 md:justify-end">
                <ul class="list-reset flex justify-between flex-1 md:flex-none items-center">
                    <!-- Check if user is authenticated -->
                    {% if current_user.is_authenticated %}
                    <li class="mr-3">
                        <a class="inline-block text-grey-600 dark:text-white no-underline hover:text-gray-300 hover:text-underline py-2 px-4"
                            href="#">Profile</a>
                    </li>
                    <li class="mr-3">
                        <a class="inline-block text-grey-600 dark:text-white no-underline hover:text-gray-200 hover:text-underline py-2 px-4"
                            href="{{url_for('routes.logout')}}">Logout</a>
                    </li>
                    {% else %}
                    <li class="mr-3">
                        <a class="inline-block text-grey-600 dark:text-white no-underline hover:text-gray-200 hover:text-underline py-2 px-4"
                            class="nav-link" href="{{ url_for('routes.login') }}">Sign In</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
    <!-- Main Content -->
    {% block content %}{% endblock %}
</body>

</html>
