{% extends "base.html" %}

{% block content %}
<div class="h-screen w-screen bg-gray-100 dark:bg-gray-800 flex flex-col justify-center items-center">
  <div class="bg-grey-50 border border-gray-300 w-80 py-8 flex items-center flex-col mb-3">
    <img src="{{ url_for('static', filename='images/small_intragram_logo_light.png') }}"
      class="h-16 w-64 mb-6 dark:hidden">
    <img src="{{ url_for('static', filename='images/small_intragram_logo.png') }}"
      class="h-16 w-64 mb-6 hidden dark:inline">
    <form class="mt-8 w-auto flex flex-col">
      {% block form_content %}{% endblock %}
    </form>
    <div class="flex justify-evenly space-x-2 w-64 mt-4">
      <span class="bg-gray-300 h-px flex-grow t-2 relative top-2"></span>
      <span class="flex-none uppercase text-xs text-gray-400 font-semibold">or</span>
      <span class="bg-gray-300 h-px flex-grow t-2 relative top-2"></span>
    </div>
  </div>
  <div class="bg-white border border-gray-300 text-center w-80 py-4">
    <span class="text-sm">Don't have an account?</span>
    <a href="{{ url_for('routes.register') }}" class="text-blue-500 text-sm font-semibold">Sign up</a>
  </div>
</div>
{% endblock %}
