<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link class="" href="{{url_for('static', filename='css/output.css')}}" rel="stylesheet">
    <link class="" href="../static/css/output.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/03efbea893.js" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='js/scripts.js')}}"></script>
    <!-- Site Icon -->
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/intragram_logo_darkmode.png') }}"
        class="dark:hidden">
</head>
