{% extends 'base.jinja' %}
{% block content %}
<!-- <div class="md:flex">
    <div class="w-full">
        <div class="flex justify-between items-center p-3">
            <div class="flex flex-row items-center">
                <textarea name="comment" id="comment"
                    class=" dark:bg-gray-600 rounded-md border-1-black bg-white text-black dark:text-gray-300"
                    placeholder="..."></textarea>
            </div>
        </div>
    </div>
</div> -->
{% include 'meme_list.jinja' %}
{% endblock %}
