{% extends 'base_login.html' %}
{% block form_content %}
{{ form.username(class="text-xs w-full mb-2 rounded border bg-gray-100 border-gray-300 px-2 py-2
focus:outline-none
focus:border-gray-400 active:outline-none", placeholder="Username") }}
{{ form.password(class="text-xs w-full mb-4 rounded border bg-gray-100 border-gray-300 px-2 py-2
focus:outline-none
focus:border-gray-400 active:outline-none", placeholder="Password") }}
<div class="flex items-center mb-4">
    {{ form.remember_me() }}
    <label for="{{ form.remember_me.id }}" class="ml-2">Remember me</label>
</div>
{{ form.submit(class="text-sm text-center bg-blue-300 text-white py-1 rounded font-medium", value="Log In")
}}
{% endblock %}
