<li>
    <div class="h-auto px-2 py-1 mt-1 ">
        <div
            class="max-w-4xl lg:max-w-lg mx-auto bg-white dark:bg-black shadow-lg rounded-md overflow-hidden sm:max-w-sm md:max-w-md">
            <div class="md:flex">
                <div class="w-full xl:max-w-2xl lg:max-w-xl md:max-w-xl sm:max-w-md">
                    <div class="flex justify-between items-center p-3">
                        <div class="flex flex-row items-center">
                            <img src="https://picsum.photos/450" class="rounded-full" width="40">
                            <div class="flex flex-row items-center ml-2">
                                <a href="#"><span class="font-bold mr-1 text-black dark:text-white">{{
                                        meme.get_username() }}</span></a>
                            </div>
                        </div>
                        <div class="pr-2">
                            <i
                                class="fa fa-ellipsis-h text-gray-400 hover:text-gray-600 dark:text-white hover:cursor-pointer dark:hover:text-gray-400"></i>
                        </div>
                    </div>
                    <div>
                        <a href="#">
                            <img src="{{ url_for('static', filename=meme.render_md_thumb()) }}" class="w-fit  h-75">
                        </a>
                    </div>
                    <div class="p-4 flex justify-between items-center">
                        <div class="flex flex-row items-center">
                            {% if meme.liked_by_user(current_user.id) %}
                            <i onclick="toggleLikeMeme({{ meme.id }}, this)"
                                class="fas fa-heart fa-lg mr-3 text-gray-400 hover:text-gray-600 dark:text-white hover:cursor-pointer dark:hover:text-gray-400"></i>
                            {% else %}
                            <i onclick="toggleLikeMeme({{ meme.id }}, this)"
                                class="far fa-heart fa-lg mr-3 text-gray-400 hover:text-gray-600 dark:text-white hover:cursor-pointer dark:hover:text-gray-400"></i>
                            {% endif %}
                            <i
                                class="far fa-comment fa-lg mr-3 text-gray-400 hover:text-gray-600 dark:text-white hover:cursor-pointer dark:hover:text-gray-400"></i>
                            <i
                                class="far fa-paper-plane fa-lg mr-3 text-gray-400 hover:text-gray-600 dark:text-white hover:cursor-pointer dark:hover:text-gray-400"></i>
                        </div>
                        <div>
                            {% if meme.saved_by_user(current_user.id) %}
                            <i onclick="toggleSaveMeme({{ meme.id }}, this)"
                                class="fas fa-bookmark fa-lg text-gray-400 hover:text-gray-600 dark:text-white hover:cursor-pointer dark:hover:text-gray-400"></i>
                            {% else %}
                            <i onclick="toggleSaveMeme({{ meme.id }}, this)"
                                class="far fa-bookmark fa-lg text-gray-400 hover:text-gray-600 dark:text-white hover:cursor-pointer dark:hover:text-gray-400"></i>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</li>
<script>
    function toggleSaveMeme(memeId, element) {
        fetch('/toggle_save_meme', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/x-www-form-urlencoded'
            },
            body: `meme_id=${memeId}`
        })
            .then(response => response.json())
            .then(data => {
                if (data.status === 'success') {
                    element.classList.toggle('fas');
                    element.classList.toggle('far');
                }
            });
    }

    function toggleLikeMeme(memeId, element) {
        fetch('/toggle_like_meme', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/x-www-form-urlencoded'
            },
            body: `meme_id=${memeId}`
        })
            .then(response => response.json())
            .then(data => {
                if (data.status === 'success') {
                    element.classList.toggle('fas');
                    element.classList.toggle('far');
                }
            });
    }
</script>
