{% extends "base_login.html" %}
{% block form_content %}

{{ form.hidden_tag() }}
{{ form.username(class=" text-xs w-full mb-2 rounded border bg-gray-100 border-gray-300 px-2 py-2
focus:outline-none
focus:border-gray-400 active:outline-none", placeholder="Username") }}
{{ form.email(class=" text-xs w-full mb-2 rounded border bg-gray-100 border-gray-300 px-2 py-2
focus:outline-none
focus:border-gray-400 active:outline-none", placeholder="Email") }}
{{ form.password(class=" text-xs w-full mb-2 rounded border bg-gray-100 border-gray-300 px-2 py-2
focus:outline-none
focus:border-gray-400 active:outline-none", placeholder="Password") }}
{{ form.confirm_password(class=" text-xs w-full mb-2 rounded border bg-gray-100 border-gray-300 px-2 py-2
focus:outline-none focus:border-gray-400 active:outline-none", placeholder="Confirm Password") }}
{{ form.submit(class="text-sm text-center bg-blue-300 text-white py-1 rounded font-medium", value="Sign Up")
}}
{% endblock %}
