<!DOCTYPE html>
<html lang="en">
{% include 'head.jinja' %}

<body class="dark:bg-black bg-white text-gray-900 dark:text-gray-100 flex flex-row items-center justify-center h-full">

    <div class="h-full mt-16 py-4 w-auto bg-white dark:bg-black flex flex-col justify-center items-center">
        <div
            class="bg-white dark:bg-black border rounded border-gray-300 dark:border-gray-600 w-80 py-6 flex flex-col items-center mb-3 mt-3">
            <h1 class="text-4xl font-billabong text-black dark:text-white mb-2">Choose Profile Image</h1>

            <div class="flex flex-wrap justify-center">
                {% for image in default_images %}
                <a href="{{ url_for('routes.choose_profile_image', id=id, file='images/default_images/' + image) }}"
                    class="p-2">
                    <img src="{{ url_for('static', filename=('images/default_images/' + image)) }}"
                        class="w-16 h-16 rounded" alt="{{ image.description }}">
                </a>
                {% endfor %}
            </div>
        </div>
    </div>
</body>

</html>
