<div class="h-auto py-4 w-auto bg-white dark:bg-black flex flex-col justify-center items-center">

    <div
        class="bg-white dark:bg-black border rounded border-gray-300 dark:border-gray-600 w-80 py-6 flex items-center flex-col mb-1 mt-1">
        <h1 class="text-black dark:text-white font-billabong text-6xl">Upload</h1>
        <form action="{{url_for('routes.upload_meme')}}" method="POST" class="mt-8 w-auto flex flex-col"
            enctype="multipart/form-data">
            {{ upload_form.hidden_tag() }}

            {{ upload_form.file(class="text-xs w-full mb-2 rounded border bg-white dark:bg-gray-700 border-gray-300
            dark:border-black px-2 py-2
            focus:outline-none
            hover:cursor-pointer
            focus:border-gray-400 active:outline-none text-black dark:text-gray-300", type="file") }}

            {{ upload_form.url(class="text-xs w-full mb-2 rounded border bg-white dark:bg-gray-700 border-gray-300
            dark:border-black px-2 py-2
            focus:outline-none
            focus:border-gray-400 active:outline-none text-black dark:text-gray-300",
            placeholder="URL") }}

            <div class="flex items-center mb-3 text">
                <div class="flex items-center justify-center ml-4">
                    {{ upload_form.private(class="w-full") }}
                    <label for="{{ upload_form.private.id }}" class="ml-3">Private</label>
                </div>
            </div>

            {{ upload_form.submit(class="text-sm text-center bg-blue-300 dark:bg-gray-400 text-white dark:text-gray-900
            py-1
            rounded font-medium hover:cursor-pointer w-auto",
            value="Submit") }}
        </form>
    </div>
</div>
